/*--------------------------------------------------
  Reset
--------------------------------------------------*/

*,
*:before,
*:after {
  @include ua-pad-mar-reset;
  @include box-sizing(inherit);

  @media print {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
}
