/*--------------------------------------------------
  Site-content
--------------------------------------------------*/

.l-site-content {
  position: relative;
  padding: 20px 0;
  background-color: #F5F5F5;

  @include media-breakpoint-min(md) {
    padding: 50px 0;
  }
}
