/*--------------------------------------------------
  Site-content
--------------------------------------------------*/

.l-site-content {
  position: relative;
  padding: ($section-gutter / 2) 0;
  background-color: $light;

  @include media-breakpoint-min(md) {
    padding: $section-gutter 0;
  }
}
