/*--------------------------------------------------
  Site-atf
--------------------------------------------------*/

.l-site-atf {
  height: 480px;

  @include media-breakpoint-min(md) {
    height: calc(100vh - #{$header-height + $nav-height});
    max-height: 1000px;
  }
}
