/*--------------------------------------------------
  Bordered
--------------------------------------------------*/

.u-bordered {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #E0E0E0;
}

.u-bordered--top { border-width: 1px 0 0 0; }
.u-bordered--right { border-width: 0 1px 0 0; }
.u-bordered--bottom { border-width: 0 0 1px 0; }
.u-bordered--left { border-width: 0 0 0 1px; }
.u-bordered--ver { border-width: 1px 0 1px 0; }
.u-bordered--hor { border-width: 0 1px 0 1px; }

.u-bordered--hidden { border-style: hidden; }
.u-bordered--dashed { border-style: dashed; }
.u-bordered--dotted { border-style: dotted; }
.u-bordered--double { border-style: double; }
.u-bordered--groove { border-style: groove; }
.u-bordered--outset { border-style: outset; }
.u-bordered--inset { border-style: inset; }
.u-bordered--ridge { border-style: ridge; }
.u-bordered--solid { border-style: solid; }

.u-bordered--seq:last-of-type { border: none; }

@include media-breakpoint(sm) {

  .u-bordered--top-sm { border-width: 1px 0 0 0; }
  .u-bordered--right-sm { border-width: 0 1px 0 0; }
  .u-bordered--bottom-sm { border-width: 0 0 1px 0; }
  .u-bordered--left-sm { border-width: 0 0 0 1px; }
  .u-bordered--ver-sm { border-width: 1px 0 1px 0; }
  .u-bordered--hor-sm { border-width: 0 1px 0 1px; }
  .u-bordered--none-sm { border: none !important; }

  .u-bordered--hidden-sm { border-style: hidden; }
  .u-bordered--dashed-sm { border-style: dashed; }
  .u-bordered--dotted-sm { border-style: dotted; }
  .u-bordered--double-sm { border-style: double; }
  .u-bordered--groove-sm { border-style: groove; }
  .u-bordered--outset-sm { border-style: outset; }
  .u-bordered--inset-sm { border-style: inset; }
  .u-bordered--ridge-sm { border-style: ridge; }
  .u-bordered--solid-sm { border-style: solid; }

}

@include media-breakpoint(md) {

  .u-bordered--top-md { border-width: 1px 0 0 0; }
  .u-bordered--right-md { border-width: 0 1px 0 0; }
  .u-bordered--bottom-md { border-width: 0 0 1px 0; }
  .u-bordered--left-md { border-width: 0 0 0 1px; }
  .u-bordered--ver-md { border-width: 1px 0 1px 0; }
  .u-bordered--hor-md { border-width: 0 1px 0 1px; }
  .u-bordered--none-md { border: none !important; }

  .u-bordered--hidden-md { border-style: hidden; }
  .u-bordered--dashed-md { border-style: dashed; }
  .u-bordered--dotted-md { border-style: dotted; }
  .u-bordered--double-md { border-style: double; }
  .u-bordered--groove-md { border-style: groove; }
  .u-bordered--outset-md { border-style: outset; }
  .u-bordered--inset-md { border-style: inset; }
  .u-bordered--ridge-md { border-style: ridge; }
  .u-bordered--solid-md { border-style: solid; }

}

@include media-breakpoint(lg) {

  .u-bordered--top-lg { border-width: 1px 0 0 0; }
  .u-bordered--right-lg { border-width: 0 1px 0 0; }
  .u-bordered--bottom-lg { border-width: 0 0 1px 0; }
  .u-bordered--left-lg { border-width: 0 0 0 1px; }
  .u-bordered--ver-lg { border-width: 1px 0 1px 0; }
  .u-bordered--hor-lg { border-width: 0 1px 0 1px; }
  .u-bordered--none-lg { border: none !important; }

  .u-bordered--hidden-lg { border-style: hidden; }
  .u-bordered--dashed-lg { border-style: dashed; }
  .u-bordered--dotted-lg { border-style: dotted; }
  .u-bordered--double-lg { border-style: double; }
  .u-bordered--groove-lg { border-style: groove; }
  .u-bordered--outset-lg { border-style: outset; }
  .u-bordered--inset-lg { border-style: inset; }
  .u-bordered--ridge-lg { border-style: ridge; }
  .u-bordered--solid-lg { border-style: solid; }

}

@include media-breakpoint(xl) {

  .u-bordered--top-xl { border-width: 1px 0 0 0; }
  .u-bordered--right-xl { border-width: 0 1px 0 0; }
  .u-bordered--bottom-xl { border-width: 0 0 1px 0; }
  .u-bordered--left-xl { border-width: 0 0 0 1px; }
  .u-bordered--ver-xl { border-width: 1px 0 1px 0; }
  .u-bordered--hor-xl { border-width: 0 1px 0 1px; }
  .u-bordered--none-xl { border: none !important; }

  .u-bordered--hidden-xl { border-style: hidden; }
  .u-bordered--dashed-xl { border-style: dashed; }
  .u-bordered--dotted-xl { border-style: dotted; }
  .u-bordered--double-xl { border-style: double; }
  .u-bordered--groove-xl { border-style: groove; }
  .u-bordered--outset-xl { border-style: outset; }
  .u-bordered--inset-xl { border-style: inset; }
  .u-bordered--ridge-xl { border-style: ridge; }
  .u-bordered--solid-xl { border-style: solid; }

}
