/*--------------------------------------------------
  Clearfix, Group, Row
--------------------------------------------------*/

.row::after, .group::after, .clearfix::after {
  content: "";
  display: block;
  clear: both;
}
