/*--------------------------------------------------
  Hidden
--------------------------------------------------*/

.u-hidden { display: none; visibility: hidden; }

@include media-breakpoint(sm) { .u-hidden-sm-min { display: none; visibility: hidden; } }
@include media-breakpoint(md) { .u-hidden-md-min { display: none; visibility: hidden; } }
@include media-breakpoint(lg) { .u-hidden-lg-min { display: none; visibility: hidden; } }
@include media-breakpoint(xl) { .u-hidden-xl-min { display: none; visibility: hidden; } }

@media (max-width: 575px) { .u-hidden-sm-max { display: none; visibility: hidden; } }
@media (max-width: 767px) { .u-hidden-md-max { display: none; visibility: hidden; } }
@media (max-width: 991px) { .u-hidden-lg-max { display: none; visibility: hidden; } }
@media (max-width: 1199px) { .u-hidden-xl-max { display: none; visibility: hidden; } }
