/*--------------------------------------------------
  Overflow
--------------------------------------------------*/

.u-overflow-auto { overflow: auto; }
.u-overflow-hidden { overflow: hidden; }
.u-overflow-scroll { overflow: scroll; }
.u-overflow-visible { overflow: visible; }
