/*--------------------------------------------------------------
 font-face - Noto Sans
--------------------------------------------------------------*/

@font-face {
  font-family: 'Noto Sans';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'),
       local('NotoSans'),
       url(../assets/fonts/noto-sans/Noto-Sans.woff2) format('woff2'),
       url(../assets/fonts/noto-sans/Noto-Sans.woff) format('woff'),
       url(../assets/fonts/noto-sans/Noto-Sans.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'),
       local('NotoSans-Bold'),
       url(../assets/fonts/noto-sans/Noto-Sans-Bold.woff2) format('woff2'),
       url(../assets/fonts/noto-sans/Noto-Sans-Bold.woff) format('woff'),
       url(../assets/fonts/noto-sans/Noto-Sans-Bold.ttf) format('truetype');
}
