/*--------------------------------------------------------------
 font-face - Noto Sans JP
--------------------------------------------------------------*/

@font-face {
  font-family: 'Noto Sans JP';
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Japanese Light'),
       local('NotoSansJapanese-Light'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Light.woff2) format('woff2'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Light.woff) format('woff'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Japanese Regular'),
       local('NotoSansJapanese-Regular'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Regular.woff2) format('woff2'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Regular.woff) format('woff'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Japanese Bold'),
       local('NotoSansJapanese-Bold'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Bold.woff2) format('woff2'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Bold.woff) format('woff'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Bold.ttf) format('truetype');
}
