/*--------------------------------------------------------------
 Custom Properties (CSS Varialbles)
--------------------------------------------------------------*/

:root {

  /* theme color */
  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }

  /* color */
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  /* grey */
  @each $shade, $value in $greys {
    --grey-#{$shade}: #{$value};
  }

  /* Transition */
  --transition: #{inspect($transition)};

  /* font-family */
  --font-family-noto-sans: #{inspect($noto-sans)};
  --font-family-noto-sans-jp: #{inspect($noto-sans-jp)};
  --font-family-open-sans: #{inspect($open-sans)};
  --font-family-open-sans-condensed: #{inspect($open-sans-condensed)};
  --font-family-sans-serif: #{inspect($sans-serif)};
  --font-family-monospace: #{inspect($monospace)};
}
