/*--------------------------------------------------
  Browser Notice
--------------------------------------------------*/

.c-browser-notice {
  padding: 20px;
  color: $white;
  text-align: center;
  background-color: $danger;
}
