/*--------------------------------------------------
  Browser Notice
--------------------------------------------------*/

.c-browser-notice {
  padding: 20px;
  color: #FFF;
  text-align: center;
  background-color: #E53935;
  background-color: var(--danger, #E53935);
}
