/*--------------------------------------------------
  Card
--------------------------------------------------*/

.c-card {
  height: auto;
  color: #212121 !important;
  color: var(--dark, #212121) !important;
  background-color: #FAFAFA;
  background-color: var(--light, #FAFAFA);
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.c-card--dark {
  color: #FAFAFA !important;
  color: var(--light, #FAFAFA) !important;
  background-color: #212121;
  background-color: var(--dark, #212121);
}

.c-card__content { padding: 20px; }
