/*--------------------------------------------------
  Heading
--------------------------------------------------*/

.c-heading-above-the-fold,
.c-heading-section {
  font-family: "Open Sans Condensed", sans-serif;
  font-family: var(--font-family-open-sans-condensed, "Open Sans Condensed");
}

.c-heading-above-the-fold {
  color: #263238;
  color: var(--primary, #263238);
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.c-heading-section {
  color: #212121;
  color: var(--grey-700, #212121);
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
}

.c-heading-article {
  color: #37474F;
  color: var(--grey-900, #37474F);
  font-size: 1.6rem;
}

@media (min-width: 768px) {

  .c-heading-above-the-fold {
    font-size: 3.5rem;
  }

  .c-heading-section {
    font-size: 2.8rem;
  }

  .c-heading-article {
    font-size: 1.8rem;
  }

}
