/*--------------------------------------------------
  Site-title
--------------------------------------------------*/

.c-site-title {
  padding-left: 10px;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;

  & a {
    color: #FFF;
    text-decoration: none;
  }

  & img {
    max-width: 100%;
  }

  @include media-breakpoint-min(md) {
    font-size: 2.2rem;
  }
}

