/*--------------------------------------------------
  Site-nav
--------------------------------------------------*/

.c-site-nav {
  display: flex;
  flex-direction: column;
  list-style: none;

  &__item {
    overflow: hidden;
  }

  &__item a {
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: 1.5rem;
    line-height: $nav-height;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__item a:hover,
  &__item--active a {
    background-color: $primary;
  }

  @include media-breakpoint-min(md) {
    flex-direction: row;
  }
}
