/*--------------------------------------------------------------
 font-face - Noto Sans
--------------------------------------------------------------*/

@font-face {
  font-family: 'Noto Sans';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'),
       local('NotoSans'),
       url(../assets/fonts/noto-sans/Noto-Sans.woff2) format('woff2'),
       url(../assets/fonts/noto-sans/Noto-Sans.woff) format('woff'),
       url(../assets/fonts/noto-sans/Noto-Sans.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'),
       local('NotoSans-Bold'),
       url(../assets/fonts/noto-sans/Noto-Sans-Bold.woff2) format('woff2'),
       url(../assets/fonts/noto-sans/Noto-Sans-Bold.woff) format('woff'),
       url(../assets/fonts/noto-sans/Noto-Sans-Bold.ttf) format('truetype');
}

/*--------------------------------------------------------------
 font-face - Noto Sans JP
--------------------------------------------------------------*/

/* @font-face {
  font-family: 'Noto Sans JP';
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Japanese Light'),
       local('NotoSansJapanese-Light'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Light.woff2) format('woff2'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Light.woff) format('woff'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Japanese Regular'),
       local('NotoSansJapanese-Regular'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Regular.woff2) format('woff2'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Regular.woff) format('woff'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Japanese Bold'),
       local('NotoSansJapanese-Bold'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Bold.woff2) format('woff2'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Bold.woff) format('woff'),
       url(../assets/fonts/noto-sans_jp/Noto-Sans-Japanese-Bold.ttf) format('truetype');
} */

/*--------------------------------------------------------------
 font-face - Open Sans
--------------------------------------------------------------*/

/* @font-face {
  font-family: 'Open Sans';
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"),
       local("OpenSans-Light"),
       url(../assets/fonts/open-sans/Open-Sans-Light.woff2) format("woff2"),
       url(../assets/fonts/open-sans/Open-Sans-Light.woff) format("woff"),
       url(../assets/fonts/open-sans/Open-Sans-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"),
       local("OpenSans-Regular"),
       url(../assets/fonts/open-sans/Open-Sans-Regular.woff2) format("woff2"),
       url(../assets/fonts/open-sans/Open-Sans-Regular.woff) format("woff"),
       url(../assets/fonts/open-sans/Open-Sans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"),
       local("OpenSans-Bold"),
       url(../assets/fonts/open-sans/Open-Sans-Bold.woff2) format("woff2"),
       url(../assets/fonts/open-sans/Open-Sans-Bold.woff) format("woff"),
       url(../assets/fonts/open-sans/Open-Sans-Bold.ttf) format("truetype");
} */

/*--------------------------------------------------------------
 font-face - Open Sans Condensed
--------------------------------------------------------------*/

/* @font-face {
  font-family: 'Open Sans Condensed';
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Condensed Light"),
       local("OpenSansCondensed-Light"),
       url(../assets/fonts/open-sans_condensed/Open-Sans-Condensed-Light.woff2) format("woff2"),
       url(../assets/fonts/open-sans_condensed/Open-Sans-Condensed-Light.woff) format("woff"),
       url(../assets/fonts/open-sans_condensed/Open-Sans-Condensed-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Condensed Bold"),
       local("OpenSansCondensed-Bold"),
       url(../assets/fonts/open-sans_condensed/Open-Sans-Condensed-Bold.ttf) format("woff2"),
       url(../assets/fonts/open-sans_condensed/Open-Sans-Condensed-Bold.woff) format("woff"),
       url(../assets/fonts/open-sans_condensed/Open-Sans-Condensed-Bold.ttf) format("truetype");
} */

/*--------------------------------------------------------------
 font-face - Roboto
--------------------------------------------------------------*/

/* @font-face {
  font-family: 'Roboto';
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'),
       local('Roboto-Light'),
       url(../assets/fonts/roboto/Roboto-Light.woff2) format('woff2'),
       url(../assets/fonts/roboto/Roboto-Light.woff) format('woff'),
       url(../assets/fonts/roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url(../assets/fonts/roboto/Roboto.woff2) format('woff2'),
       url(../assets/fonts/roboto/Roboto.woff) format('woff'),
       url(../assets/fonts/roboto/Roboto.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'),
       local('Roboto-Medium'),
       url(../assets/fonts/roboto/Roboto-Medium.woff2) format('woff2'),
       url(../assets/fonts/roboto/Roboto-Medium.woff) format('woff'),
       url(../assets/fonts/roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'),
       local('Roboto-Bold'),
       url(../assets/fonts/roboto/Roboto-Bold.woff2) format('woff2'),
       url(../assets/fonts/roboto/Roboto-Bold.woff) format('woff'),
       url(../assets/fonts/roboto/Roboto-Bold.ttf) format('truetype');
} */

/*--------------------------------------------------------------
 font-face - Roboto Condensed
--------------------------------------------------------------*/

/* @font-face {
  font-family: 'Roboto Condensed';
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'),
       local('RobotoCondensed-Light'),
       url(../assets/fonts/roboto_condensed/Roboto-Condensed-Light.woff2) format('woff2'),
       url(../assets/fonts/roboto_condensed/Roboto-Condensed-Light.woff) format('woff'),
       url(../assets/fonts/roboto_condensed/Roboto-Condensed-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'),
       local('RobotoCondensed-Regular'),
       url(../assets/fonts/roboto_condensed/Roboto-Condensed.woff2) format('woff2'),
       url(../assets/fonts/roboto_condensed/Roboto-Condensed.woff) format('woff'),
       url(../assets/fonts/roboto_condensed/Roboto-Condensed.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'),
       local('RobotoCondensed-Bold'),
       url(../assets/fonts/roboto_condensed/Roboto-Condensed-Bold.ttf) format('woff2'),
       url(../assets/fonts/roboto_condensed/Roboto-Condensed-Bold.woff) format('woff'),
       url(../assets/fonts/roboto_condensed/Roboto-Condensed-Bold.ttf) format('truetype');
} */

/*--------------------------------------------------
  Reset
--------------------------------------------------*/

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

}

/*--------------------------------------------------
  HTML
--------------------------------------------------*/

html {
  min-width: 320px;
  color: #212121;
  font-family: "Noto Sans", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*--------------------------------------------------
  Outline
--------------------------------------------------*/

*:focus { outline: 1px dashed rgba(0, 0, 0, 0.85); }

body:not(.tab-used) *:focus { outline: none; }

/*--------------------------------------------------
  Body
--------------------------------------------------*/

body {
  min-width: inherit;
  color: inherit;
  font-size: 1.5rem;
  font-family: inherit;
}

body ::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #F5F5F5;
}

body ::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
}

@media print { body { font-family: inherit; width: 100%; } }

/*--------------------------------------------------
  Links
--------------------------------------------------*/

a { color: #2196F3; }

a:visited { color: #FF5722; }

a:hover, a:active, a:focus { color: #4CAF50; }

@media print { a, a:visited { text-decoration: underline;  } }

/*--------------------------------------------------
  Typography
--------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.15;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

em { font-style: italic; }

strong { font-weight: bolder; }

small { font-size: 75%; }

pre {
  font-family: monospace, monospace;
  font-size: 1.4rem;
}

@media print {

  p, h2, h3 { orphans: 3;  widows: 3; }
  h2, h3 {  page-break-after: avoid;  }

}

/*--------------------------------------------------
  Main
--------------------------------------------------*/

main { display: block; }

/*--------------------------------------------------
  Table
--------------------------------------------------*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media print { thead { display: table-header-group; } }

/*--------------------------------------------------
  Add the correct text decoration
  in Chrome, Edge, IE, Opera, and Safari.
--------------------------------------------------*/

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/*--------------------------------------------------
  Correct the inheritance and scaling of font size
  in all browsers.
  Correct the odd `em` font sizing in all browsers.
--------------------------------------------------*/

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*--------------------------------------------------
  Prevent `sub` and `sup` elements from
  affecting the line height in all browsers.
--------------------------------------------------*/

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/*--------------------------------------------------
  Remove the border on images inside links in IE 10-.
--------------------------------------------------*/

img { border-style: none; }

@media print { img {  page-break-inside: avoid; } }

/*--------------------------------------------------
  Show the overflow in IE.
  Show the overflow in Edge.
--------------------------------------------------*/

button, input { overflow: visible; }

/*--------------------------------------------------
  Remove the inheritance of text transform in
  Edge, Firefox, and IE.
  Remove the inheritance of text transform in Firefox.
--------------------------------------------------*/

button, select { text-transform: none; }

/*--------------------------------------------------
  Remove the inner border and padding in Firefox.
--------------------------------------------------*/

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/*--------------------------------------------------
  Restore the focus styles unset by the previous rule.
--------------------------------------------------*/

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/*--------------------------------------------------
  Correct the padding in Firefox.
--------------------------------------------------*/

fieldset { padding: 0.35em 0.75em 0.625em; }

/*--------------------------------------------------
  Remove the default vertical scrollbar in IE.
--------------------------------------------------*/

textarea { overflow: auto; }

/*--------------------------------------------------
  Correct the cursor style of increment and
  decrement buttons in Chrome.
--------------------------------------------------*/

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/*--------------------------------------------------
  Correct the odd appearance in Chrome and Safari.
  Correct the outline style in Safari.
--------------------------------------------------*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/*--------------------------------------------------
  Remove the inner padding and cancel buttons
  in Chrome and Safari on macOS.
--------------------------------------------------*/

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*--------------------------------------------------
  Correct the inability to style clickable types
  in iOS and Safari.
  Change font properties to `inherit` in Safari.
--------------------------------------------------*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*--------------------------------------------------
  Add the correct display in IE 10-.
--------------------------------------------------*/

[hidden] { display: none; }

/*--------------------------------------------------
  Browser Upgrade
--------------------------------------------------*/

.browser-upgrade {
  background: #424242;
  color: #FFF;
  padding: 20px;
}
